label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  font-family: "Arial";
}

textarea {
  width: 100%;
  height: 180px;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  /* Allow vertical resizing of the textarea */
  resize: vertical;
  font-size: 14px;
  font-family: "Arial";
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea:focus {
  border-color: green;
}

button {
  /* background-color: #007bff; */
  background-color: green;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Arial";
  font-weight: bold;
}

/* button:hover {
  outline: none !important;
  background-color: darkgreen;
} */
