/* serverTab.css */
.server-tab {
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

/* .server-tab.Checking {
  border-color: #2a85fc;
} */

.server-tab.Healthy {
  border-color: #008000;
}

.server-tab.Error {
  border-color: #800000;
}

.server-tab.Warning {
  border-color: #c6d12c;
}

.server-tab .tab-header {
  display: flex;
  align-items: center;
  padding: 10px;
  font-weight: bold;
}

.server-tab .server-info {
  display: flex;
  align-items: center;
  /* Take remaining space */
  flex-grow: 1;
  justify-content: space-between;
}

.server-tab .server-name {
  /* Avoid server name pushing server state to the right */
  flex-shrink: 0;
  margin-right: 10px;
}

.server-tab .server-state {
  margin-left: 10px;
  margin-right: 10px;
}

.server-tab .expand-icon {
  /* Styles for the expand icon */
}

.server-tab .tab-details {
  padding: 10px;
}

/* Adjustments for Warning state */
.tab-details.warning {
  text-align: left;
}

.tab-details.warning .problem-type {
  margin-left: 20px;
}

.tab-details.warning .details-button {
  background-color: rgb(187, 187, 4);
  color: white;
  margin: 20px auto;
  display: block;
}

.tab-details.warning .details-button:hover {
  background-color: rgb(148, 148, 0);
}

.tab-details.healthy .details-button {
  background-color: green;
  color: white;
  margin: 20px auto;
  display: block;
}

.tab-details.healthy .details-button:hover {
  background-color: darkgreen;
}
